<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
</head>
<body>
<h2 th:text="#{app.title}">App Title</h2>
<p><a href="/signup">Add a new user</a></p>
<p><a href="/add_patient_default">Add Patient Here</a> </p>
<p><a href="/add_manyUsers">Add many Users</a> </p>
<p><a href="/import_default">Import from Excel</a> </p>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.email}">Name</td>
        <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>